/*Header*/

.encabezado {
    background-color: $background-color-principal;
}

.menuNav {
    li a {
        text-transform: uppercase;
        color: #910a3b;
        font-size: 1.4rem;
        border-left: 1px solid #910a3b;
        border-right: 1px solid #910a3b;
        padding: 0;
    }

    a:hover {
        background-color: black;
        color: #029ae6;
    }
}